/**
*
*	Name:			IRANYekanX Fonts
*	Version:			2.4
*	Author:			Moslem Ebrahimi (moslemebrahimi.com)
*	Created on:		Aug 02, 2022
*	Updated on:		Aug 02, 2022
*	Website:			http://fontiran.com
*	Copyright:		Commercial/Proprietary Software
--------------------------------------------------------------------------------------
فونت ایران یکان X  یک نرم افزار مالکیتی محسوب می شود. جهت آگاهی از قوانین استفاده از این فونت ها لطفا به وب سایت (فونت ایران دات کام) مراجعه نمایید
--------------------------------------------------------------------------------------
IRANYekanX fonts are considered a proprietary software. To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com 
--------------------------------------------------------------------------------------
This set of fonts are used in this project under the license: (.....)
------------------------------------------------------------------------------------- fonts/-
*	
**/


@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: 100;
	src: url('IRANYekanX-Thin.woff') format('woff'),   
	url('IRANYekanX-Thin.woff2') format('woff2');		
}

@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: 200;
	src: url('IRANYekanX-UltraLight.woff') format('woff'),   
	url('IRANYekanX-UltraLight.woff2') format('woff2');	
}

@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: 300;
	src: url('IRANYekanX-Light.woff') format('woff'),   
	url('IRANYekanX-Light.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: 500;
	src: url('IRANYekanX-Medium.woff') format('woff'),   
	url('IRANYekanX-Medium.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: 600;
	src: url('IRANYekanX-DemiBold.woff') format('woff'),   
	url('IRANYekanX-DemiBold.woff2') format('woff2');	 
}

@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: 800;
	src: url('IRANYekanX-ExtraBold.woff') format('woff'),   
	url('IRANYekanX-ExtraBold.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: 900;
	src: url('IRANYekanX-Black.woff') format('woff'),   
	url('IRANYekanX-Black.woff2') format('woff2');		 
}
@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: 950;
	src: url('IRANYekanX-ExtraBlack.woff') format('woff'),   
	url('IRANYekanX-ExtraBlack.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: 1000;
	src: url('IRANYekanX-Heavy.woff') format('woff'),   
	url('IRANYekanX-Heavy.woff2') format('woff2');		 
}

@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: bold;
	src: url('IRANYekanX-Bold.woff') format('woff'),   
	url('IRANYekanX-Bold.woff2') format('woff2');	 
}

@font-face {
	font-family: IRANYekanX;
	font-style: normal;
	font-weight: normal;
	src: url('IRANYekanX-Regular.woff') format('woff'),   
	url('IRANYekanX-Regular.woff2') format('woff2');	
}


